<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Gallery</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">
    </script>
</head>


<body>
    <header>
        <h1><a href="/">Find & Upload Art!</a></h1>
        <nav>
            <a href="/">Home</a>
            {{!-- {{#if session.logged_in}} --}}
            <a href="/dashboard/{{id}}">My Dashboard</a>
            {{!-- {{/if}} --}}
            <a href="/categories">Categories</a>
            <a href="/requests">Requests</a>
        </nav>
    </header>


    <div class="container">
        <div class="row">
            <div id="side">
                <div>
                    <div id="top-half-side">
                        <button class="button" id="upload">Upload</button>
                        <button class="button" id="request">Request Art</button>
                        <button class="button" id="saved">Saved</button>
                    </div>

                    <div id="bottom-half-side">

                        {{!-- {{#if logged_in}} --}}
                        <button class="no-button" id="logout">Logout</button>
                        {{!-- {{else}} --}}
                        <a href="/login">Login</a>
                        <a href="/signup">Sign Up</a>
                        {{!-- {{/if}} --}}
                    </div>

                </div>
            </div>

            <div id="gallery">
                {{{body}}}
            </div>
        </div>
    </div>



    <script src="js/cloudinary.js"></script>
    <script src="js/buttons.js"></script>

    <script src="js/logout.js"></script>


</body>

</html>