<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Gallery</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>

    <div id="header">
        <nav>
            <h1>Find & Upload Art!</h1>
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/request">Request</a>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div id="side">
                <div class="col-2">
                    <div id="top-half-side">
                        <button class="button" id="upload">Upload</button>
                        <button class="button" id="request">Request</button>
                        <button class="button" id="saved">Saved</button>
                    </div>

                    <div id="bottom-half-side">
                        {{#if logeddIn}}
                        <a href="/logout">Logout</a>
                        {{else}}
                        <a href="/login">Login</a>
                        <a href="/signup">Sign Up</a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="col-10" id="gallery">
                {{{body}}}
            </div>
        </div>
    </div>





</body>

</html>