{{#each images as |image| }}
<div class="main">
    <div class="homepage">

        <div id="body">
            <h4>{{image_name}}</h4>
            <div class="images">
            <img class="hp-imgs" src="/images/{{hosted_url}}" alt="{{description}}">
            </div>
        </div>

    </div>
</div>
{{/each}}