{{#each images as |image| }}
<div class="main">
    <div class="homepage">

        <div id="body">
            <h1>{{image_name}}</h1>
            <img src={{hosted_url}} alt="artists image">
        </div>

    </div>
</div>
{{/each}}