<div class="login">
    <h2>Login</h2>

    <form class="login-form">
        <div class="field">
            <label class="label">email</label>
            <div class="control">

                <input class="input" type="email" id="login-email">

            </div>
        </div>

        <div class="field">
            <label class="label">password</label>
            <div class="control">

                <input class="input" type="password" id="login-password">

            </div>
        </div>
        <div class="control">
            <button class="button is-primary" id="login-btn">Submit</button>
        </div>
    </form>
</div>
<script src="/js/login.js"></script>