<div class="request">
<h1>Request Some Art</h1>

    <form class="request-form">
        <div class="field">
            <label class="label">Art Category</label>
            <div class="control">

                <input class="input" type="text" id="request-category">

            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">

                <input class="input" type="text" id="request-description">

            </div>
        </div>

        <div class="field">
            <label class="label">Username</label>
            <div class="control">

                <input class="input" type="text" id="request-username">

            </div>
        </div>

        <div class="field">
            <label class="label">Price Range</label>
            <div class="control">

                <input class="input" type="text" id="request-price">

            </div>
        </div>
        <div class="control">
            <button class="button is-primary" id="login-btn">Submit</button>
        </div>
    </form>
    </div>

<script src="./js/request.js"></script>