<div class="request-page">
<h2>Current Requests for Artwork</h2>
{{#each request as |request| }}

<div class="requests">
    <h4>Description of Art Wanted:</h4>
    <p>{{request.description}}</p>
    <h5>Price: {{request.price}}</h5>
</div>


{{/each}}

</div>

