<div id="body">
    <div class="ind-img">
        <h4>{{image.image_name}}</h4>
        <div class="images">
            <img class="hp-imgs" src="/images/{{image.hosted_url}}" alt="{{image.description}}">
            <p>{{image.description}}</p>
        </div>
    </div>
</div>