
p {
    font-size:16px;
}

.row {
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    background: black;
    color: white
}

header a {
    color: white; 
}

header a:hover {
    color: blue;
    text-decoration: none;
}

header h1 {
    width: 500px;
    font-size: 40px;
    margin-left: 50px;
    float: left;
    padding-top: 5vh;
}

nav {
    float: right;
    margin-right: 50px;
    padding-top: 7vh;
}

nav a {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    color: white; 
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main img{
    max-width: 200px;
    margin: 20px;
}

.gal-img {
    width: 250px;
    height: 450px;
    border: 2px solid black;
    margin: 5px;
    margin-top: 20px;
}

#body {
    text-align: center;
    font-size: 18px;
}

#side {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 500px;

}

button {
    border: 2px solid black;
    background-color: black;
    color: white;
}

#side button {
    width: 100%;
    margin-top: 20px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

#single-page {
    text-align: center;
    margin-top: 30px;
    width: 450px;
}

img.page-imgs {
    max-width: 400px;
    max-height: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

#bottom-half-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#bottom-half-side a {
    padding: 10px;
}