Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@mardill 
Your GitHub academic discount coupon has expired
If you’re still eligible, you may re-apply.
If you’re no longer eligible, you may either update your payment information, or downgrade your account.
If you have any questions, please contact GitHub Education.

dylankreisman
/
Art-gallery
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Art-gallery/public/css/style.css
@mardill
mardill request page and home button
Latest commit ea58c6d 2 days ago
 History
 1 contributor
122 lines (97 sloc)  1.57 KB


p {
    font-size:16px;
}

.row {
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    background: black;
    color: white
}

header a {
    color: white; 
}

header a:hover {
    color: blue;
    text-decoration: none;
}

header h1 {
    width: 500px;
    font-size: 40px;
    margin-left: 50px;
    float: left;
    padding-top: 5vh;
}

nav {
    float: right;
    margin-right: 50px;
    padding-top: 7vh;
}

nav a {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    color: white; 
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main img{
    max-width: 200px;
    margin: 20px;
}

.gal-img {
    width: 250px;
    height: 450px;
    border: 2px solid black;
    margin: 5px;
    margin-top: 20px;
}

#body {
    text-align: center;
    font-size: 18px;
}

#side button {
    width: 100%;
    margin-top: 20px;
    border: 2px solid black;
    background-color: black;
    color: white;
}


button {
    border: 2px solid black;
    background-color: black;
    color: white;
}

#side button {
    margin-top: 20px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

#bottom-half-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#bottom-half-side a {
    padding: 10px;
}


/* single page styling */

#single-page {
    text-align: center;
    margin-top: 30px;
    width: 450px;
}

img.page-imgs {
    max-width: 400px;
    max-height: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

